<!DOCTYPE html>
<html lang="en">
<head>
  <title>Alternet Therapy | Video Conference System</title>
  <% include _header %>
  <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
  <div id="logoContainer"></div>

  <div class="container">
<div id="insideContainer">
    <img src="/img/alternetlogo.png" alt="alternet transparent logo" id="alternetLogo" />
  
    <h1>Alternet Therapy Video</h1>

    <div id="roomContainer">
      <input id="roomName" type="text" placeholder="Appointment Name">
      <a href="#" id="submitButton">Connect</a>
      <div id="actionItem">
        Enter Appointment Name
      </div>

      <div id="infoBox">
        <hr />
        <p>Alternet Therapy's goal is to let you connect to therapists when you need it most through our state of the art video conference system.</p>
        <p>Here by accident? If you are a customer or interesting in our services visit our main  
        <a href="#">Website</a>. For all business related inquiries, feel free to 
        <a href="#">Contact Us</a>.
        </p>
        <br />
        <p>
        <a href="#">Not working? Let us Know</a>
        </p>
      </div>
    </div>
</div>
  </div>

  <script src="/js/index.js" type="text/javascript"></script>

</body>
</html>
